
body {
  background-color: #e3f2fd;
  font-family: "Questrial", sans-serif;
  text-align: center;
  font-weight: lighter;
  color: #e3f2fd;
}

h1 {
  color: #FF7043;
  font-size: 3.2rem;
  text-transform: none;
}

/* main app container for calculator itself*/
.container {
  background-image: linear-gradient(to right, red, orange);
  width: 22rem;
  height: 32rem;
  position: relative;
  text-align: center;
  padding: 2.5rem 3.6rem 4.6rem 3.6rem;
  margin: auto;
}

.screen {
  width: 20.5rem;
  height: 3.5rem;
  border-bottom: 2px solid #CFD8DC;
  padding: 0.7rem;
}

#output {
  font-size: 2.5rem;
}

#history {
  font-size: 2rem;
  float: right;
  opacity: 0.8;

}

.buttons {
  width: 66px;
  height: 60px;
  font-size: 2.5em;
  line-height: 60px;
  border: 1px solid;
  padding: 10px;
  cursor: pointer;
}

.buttons:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#clear {
  width: 152px;
  margin-top: 10px;
}

#backspace {
  font-size: 30px;
  margin-top: -82px;
  margin-left: 174px;

}

#divide {
  font-weight: bold;
  margin-top: -82px;
  margin-left: 262px;
}

#eight {
  margin-top: -82px;
  margin-left: 86px;
}

#nine {
  margin-top: -82px;
  margin-left: 174px;
}

#multiply {
  font-weight: bold;
  margin-top: -82px;
  margin-left: 262px;
}

#five {
  margin-top: -82px;
  margin-left: 86px;
}

#six {
  margin-top: -82px;
  margin-left: 174px;
}

#subtract {
  margin-top: -82px;
  margin-left: 262px;
}

#two {
  margin-top: -82px;
  margin-left: 86px;
}

#one {
  margin-top: -82px;
  margin-left: 174px;
}

#add {
  margin-top: -82px;
  margin-left: 262px;
}

#decimal {
  margin-top: -82px;
  margin-left: 86px;
}

#pos-neg {
  margin-top: -82px;
  margin-left: 174px;
}

#equals {
  margin-top: -82px;
  margin-left: 262px;
}