
body {
  background-color: #e3f2fd;
  font-family: "Questrial", sans-serif;
  text-align: center;
  font-weight: lighter;
  color: #e3f2fd;
}

h1 {
  color: #FF7043;
  font-size: 3.2em;
  text-transform: none;
}

/* main app container for calculator itself*/
.container {
  background-image: linear-gradient(to right, red, orange);
  width: 22em;
  height: 32em;
  position: relative;
  text-align: center;
  padding: 2.5em 3.6em 4.6em 3.6em;
  margin: auto;
}

.screen {
  width: 20.5em;
  height: 3.5em;
  border-bottom: 2px solid #CFD8DC;
  padding: 0.7em;
}

#output {
  font-size: 2.5em;
}

#history {
  font-size: 2em;
  float: right;
  opacity: 0.8;

}

.buttons {
  width: 66px;
  height: 60px;
  font-size: 2.5em;
  line-height: 60px;
  border: 1px solid;
  padding: 10px;
  cursor: pointer;
}

#clear {
  width: 152px;
  margin-top: 10px;
}

#clear:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#backspace {
  font-size: 30px;
  margin-top: -82px;
  margin-left: 174px;

}

#backspace:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#divide {
  font-weight: bold;
  margin-top: -82px;
  margin-left: 262px;
}

#divide:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#seven {
  margin-top: 10px;
}

#seven:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#eight {
  margin-top: -82px;
  margin-left: 86px;
}

#eight:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#nine {
  margin-top: -82px;
  margin-left: 174px;
}

#nine:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#multiply {
  font-weight: bold;
  margin-top: -82px;
  margin-left: 262px;
}

#multiply:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#four {
  margin-top: 10px;
}

#four:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#five {
  margin-top: -82px;
  margin-left: 86px;
}

#five:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#six {
  margin-top: -82px;
  margin-left: 174px;
}

#six:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#subtract {
  margin-top: -82px;
  margin-left: 262px;
}

#subtract:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#three {
  margin-top: 10px;
}

#three:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#two {
  margin-top: -82px;
  margin-left: 86px;
}

#two:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#one {
  margin-top: -82px;
  margin-left: 174px;
}

#one:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#add {
  margin-top: -82px;
  margin-left: 262px;
}

#add:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#zero {
  margin-top: 10px;
}

#zero:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#decimal {
  margin-top: -82px;
  margin-left: 86px;
}

#decimal:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#pos-neg {
  margin-top: -82px;
  margin-left: 174px;
}

#pos-neg:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#equals {
  margin-top: -82px;
  margin-left: 262px;
}

#equals:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
